<div id="content">
		<div class="heading-buttons bg-white border-bottom innerAll">
			<h1 class="content-heading padding-none pull-left">Order a Card</h1>
			<div class="clearfix"></div>
		</div>

<div class="innerAll">


		<div class="table-pricing-3">
	<ul class="list-unstyled row">
		<li class="col-md-4">
			<div class="innerAll">
				<h3>Starter</h3>
				<div class="body">
					<div class="price">
						&dollar;36
					</div>
				</div>
				<div class="features">
					<ul>
						<li>Per 100 business cards </li>
						<li>Single side prints</li>
						<li>Free Web and Mobile App</li>
					</ul>
				</div>
				<div class="footer">
					<a href="#" class="btn btn-success">Get Started</a>
				</div>
			</div>
		</li>
		<li class="col-md-4 active">
			<div class="innerAll">
				<h3>Silver</h3>
				<div class="body">
					<div class="price">
						<span class="figure">&dollar;50</span>
					</div>
				</div>
				<div class="features">
					<ul>
						<li>Per 150 business cards</li>
						<li>Double side prints</li>
						<li>Free Web and Mobile App</li>
						<li>Ability to send promotions</li>
					</ul>
				</div>
				<div class="footer">
					<a href="#" class="btn btn-success">Get Started</a>
				</div>
			</div>
		</li>
		<li class="col-md-4">
			<div class="innerAll">
				<h3>Gold</h3>
				<div class="body">
					<div class="price">
						<span class="figure">&dollar;60</span>
					</div>
				</div>
				<div class="features">
					<ul>
						<li>Per 300 business cards</li>
						<li>Double side prints</li>
						<li>High quality papers</li>
						<li>Free Web and Mobile App</li>
						<li>Ability to send promotions</li>
					</ul>
				</div>
				<div class="footer">
					<a href="#" class="btn btn-success">Get Started</a>
				</div>
			</div>
		</li>
		<div class="clearfix"></div>
	</ul>
</div>